[submodule "external/rcw"]
	path = external/rcw
	url = ../rcw.git
	branch = whle-ls1046a
[submodule "external/u-boot"]
	path = external/u-boot
	url = ../u-boot.git
[submodule "external/atf"]
	path = external/atf
	url = ../atf.git
